body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo-container {
    text-align: center;
    padding-top: 0.25rem;
}

#nav-bar {
    overflow: hidden;
    background-color: black;
    margin: 0;
    padding: 0.75rem 0;
}

#nav-links {
    background-color: black;
    margin: auto;
    padding: 0;
    width: 20rem;
}

#nav-links li {
    list-style-type: none;
    float: left;
}

#nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.75rem 0.75rem;
}

#nav-bar li a:hover {
    background-color: gray;
}

.text-box {
    width: 40rem;
    margin: auto;
    margin-top: 1.5rem;
    padding: 1rem;
    border-style: solid;
    border-color: black;
}

.text-heading {
    margin: 0;
}

#formula-sym {
    height: 20px;
    width: auto;
    position: relative;
    top: 0.2rem;
}

.ql-toolbar {
    display: none;
}

.ql-editor {
    border-style: solid;
    border-color: rgb(133, 133, 133);
    border-width: 0.05rem;
    box-shadow: none;
}

.big-editor .ql-editor {
    min-height: 10rem;
}

label, .editor-label, .radio-prompt {
    margin: 0;
}

.text-input-label, .editor-label, .radio-prompt {
    font-weight: 500;
} 

.input-pair {
    margin-bottom: 0.75rem;
}

.text-input {
    width: 99%;
}

.radio-buttons {
    display: inline;
}

::-webkit-input-placeholder {
    font-style: italic;
}

:-ms-input-placeholder {
    font-style: italic;
}

::placeholder {
    font-style: italic;
}

#submit-btn {
    color: white;
    background-color: black;
    border-style: solid;
    border-color: lightgray;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}

#submit-btn:hover {
    color: lightgray;
}